// Place all the styles related to the api/Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-page{
  padding-top: 50px;
  background-color: var(--container-color);
  display: block;
  max-width: auto;
}

.recipe-head-container{
  border-bottom: 5px solid #000;
}

.recipe-head-container .title{
  font-family: var(--heading-font);
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  line-height: 1.16;
  max-width: 57rem;
  letter-spacing: 1.3px;
  margin: 0 auto 0 auto;
}

.recipe-head-container .subheading{
  font-family: var(--heading-font);
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.recipe-header{
  padding: 30px 0 30px;
}

.recipe-rating-stars{
  line-height: 1.5;
  vertical-align: top;    
  .rating-count{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: .8rem;
  }
  .recipe-star{
    width: auto;
    height: 14px;
    margin: 0 7px 0 0;
  }
}

@media screen and (min-width: 1024px){
  .recipe-head-container .rating{
    position: relative;
    margin-right: 2.5rem;
    margin-bottom: 0;
    text-align: right;
  }
}

.recipe-head-container .story{
  font-family: var(--body-font);
  font-size: 1.2rem;
  line-height: 1.66667;
}

.recipe-head-container{
  // min-height: 235px;
  text-align: center;
}

.recipe-head-container .main-image img{
  width: 100%;
  height: auto;
}

.description-header{
  padding: 3.8rem 0 2.7rem;
  max-width: 571px;
  margin: 0 auto 0 auto;
}