.recipe-component-container{
  padding: 0 30px 0 30px;
  margin: 0 auto;
<<<<<<< HEAD
  max-width: 900px;
  height: auto;
=======
  max-width: 1024px;
  // padding-bottom: 30px;
  // border-bottom: 5px solid #000;
  // margin-bottom: 30px
  // max-width should be the size of pics/gifs of steps or vice/versa
>>>>>>> df891b9cabf479713b9eb83794a8ab931b363045
}

.recipe-component-container h3{
  font-family: 'futura-pt',sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  max-width: 100%;
  letter-spacing: 2px;
  margin-bottom: 30px;
}