.recipe-index-container{
  margin-top: 50px;
}

.recipe-card{
  display:flex;
  flex-direction: row;
  margin-bottom: 30px;
  border: blue 3px solid;
}

.recipe-card .card-body{
  min-height: 175px;
  width:35%;
  padding: 6rem 3rem;
  text-align: center;
  border: red 2px solid;
}

.recipe-card .card-copy{
    font-family: 'futura-pt',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: .5px;
}

.recipe-card-list li:nth-child(2){
  display:flex;
  flex-direction: row-reverse;
  // margin-bottom: 30px;
  // width:65%;
  margin-bottom: 30px;
  border: blue 3px solid;
}

.recipe-card-list li .card-body:nth-child(2){
  width: 35%;
}

.recipe-card .card-image{
  border: green 2px solid;
}

.recipe-button{
  font-family: 'futura-pt',sans-serif;
  font-weight: 500;
  background: #000;
  color: #fff;
  position: relative;
  padding: .6rem 2.5rem;
  border: 0;
  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.recipe-card .card-title{
  font-family: 'futura-pt',sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.16;
  max-width: 100%;
  letter-spacing: 1.3px;
}