.page-home{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  margin-top: 50px;
  padding-top: 50px;
}

.home-card{
  width: 100%;
  height: 56.25vw;
}

.featured-recipe{
  display: flex;
  width: 92%;
  height: 80%;
  margin: auto;
  .featured-image{
    width: 50%;
    height: 100%;
    overflow: hidden;
    img{
      height: 100%;
      width: auto;
      object-fit: cover;
      margin-left: -25%;
    }
  }
  .featured-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--recipe-color);
    width: 50%;
    height: 100%;
    font-family: var(--heading-font);
    font-weight: 500;
    text-align: center;
    .title{
      font-size: 3.4rem;
      margin-bottom: 20px;
      max-width: 448px
    }
    .copy{
      font-size: 1.1rem;
      padding: 0 40px;
      max-width: 329px;
      line-height: 1.53;
    }
    a:hover{
        text-decoration: underline;
    }
  }
}

.featured-gallery{
  background-color: var(--background-color);
  width: 93%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  .item-0{
    flex-direction: column;
    img{
      margin-left: -20%;
    }
  } 
  .item-1{
    flex-direction: column-reverse;
    img{
      margin-left: -22%;
    }
  }
  .item-2{
    flex-direction: column;
    img{
      margin-left: -35%;
    }
  }
}

.gallery-item{
  background-color: var(--container-color);
  display: flex;
  width: 30%;
  .gallery-item-image{
    height: 60%;
    width: auto;
    overflow: hidden;
    img{
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  .gallery-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40%;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 1.3rem;
    h1{
      line-height: 1.08;
      width: 270px;
    }
    a:hover{
        text-decoration: underline;
    }
  }
}