html {
  --recipe-color: #FBDA06;
  --heading-font: 'futura-pt',sans-serif;
  --body-font: 'Radley', Georgia, Cambria, Times New Roman, Times, serif;
  --background-color: #F8F8F8;
  --container-color: #FFF;
  --font-color: black;
}