.navigation-bar{
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.nav-content{
  height: 100%;
  width: 100%;
}

.navigation-bar a{
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 11px;
  cursor: pointer;
}

.navigation-bar a:hover{
  text-decoration: underline;
}

.navigation-bar .logo{
  padding: .75rem 1rem .25rem 1rem ;
  align-content: center;
}

.logo img{
  width: 160px;
}

.navigation-bar .logo:hover{
  cursor: pointer;
}

.navigation-bar .link-sessions{
  position: fixed;
  top:0;
  left: 87.5%;
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 1rem;
  padding: 1.25rem 1rem .75rem 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 1024px){
  .navigation-bar .link-sessions{
    // display:none;
  }
}

.navigation-bar .bars{
  cursor: pointer;
  position: fixed;
  width: 1rem;
  height: 1.1rem;
  top: 0;
  left: 0;
  padding: 1rem;
}

.navigation-bar .bars:hover{
  display: block;
  background-color: #2e2e2e;
}

.navigation-bar .search{
  cursor: pointer;
  position: fixed;
  width: 1rem;
  height: 1.1rem;
  right: 0;
  top: 0;
  padding: 1rem;
}

.navigation-bar .search:hover{
  display: block;
  background-color: #2e2e2e;
}

// dropdown

.bars {
  background-color: initial;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  display: inline-block;
  top: 3.1rem;
  left: 3rem;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 3.1rem;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content:active .dropdown-content{ 
  display: block;
}

// .dropdown-content a:hover {background-color: #f1f1f1}

// .dropdown:hover .dropdown-content {
//   display: block;
// }
