.navigation-bar{
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-content{
  height: 100%;
  width: 100%;
  // display:flexbox
}

.navigation-bar a{
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 11px;
  cursor: pointer;
}

.navigation-bar a:hover{
  text-decoration: underline;
}

.navigation-bar .logo{
  position: relative;
  left: 45%;
}
.logo img{
  width: 160px;
  padding-top:5px;
}

.navigation-bar .logo:hover{
  cursor: pointer;
}

.navigation-bar .link-sessions{
  position: relative;
  left: 77%;
  display:flex;
  justify-content: space-around;
  width: 150px;
}

.navigation-bar .bars{
  position: relative;
  left: .5%;
}

.navigation-bar .bars:hover{
  background-color: #2e2e2e;
}

.navigation-bar .search{
  position: relative;
  left: 76%;
}
