.theme{
  box-sizing: border-box;
  display:inline-block;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #ffda08;
}

.theme>a, .theme>a:visited, .theme>a:hover, .theme>a:active {
    text-decoration: none;
    color: inherit;
}