.theme{
  box-sizing: border-box;
  display:inline-block;
  padding: 10px;
  margin-bottom: 30px;
<<<<<<< HEAD
  background-color: #ffda08;
}

.theme>a, .theme>a:visited, .theme>a:hover, .theme>a:active {
    text-decoration: none;
    color: inherit;
=======
  border: 1px solid #000000;
}

.unhealthy{
  background-color: #fff1a0;
>>>>>>> df891b9cabf479713b9eb83794a8ab931b363045
}